{% extends "layout.html" %}

{% block title %}
    关于
{% endblock %}

{% block main %}
    <h1>Hi, Jerry Lu here!</h1>
    <h1>Made with ♡</h1>
    
    <h3>Found a bug? Submit it <a href="https://wj.qq.com/s/1506172/2469/">here</a>!</h3>
    
    <table class="table table-hover">
    <caption>Release Notes</caption>
    <thead>
        <tr>
    	<th>version</th>
    	<th>notes</th>
    	</tr>
    </thead>
    <tbody>
    	<tr>
    		<td>20170813 1533</td>
    		<td>世界的原点 开发开始</td>
    	</tr>
    	<tr>
    		<td>20170814 1426</td>
    		<td>基础功能实现完成</td>
    	</tr>
    	<tr>
    		<td>20170815 0001</td>
    		<td>公网搭建完成 内测开启</td>
    	</tr>
    	<tr>
    		<td>20170815 1600</td>
    		<td>[BUG修正]歌曲信息修改后空白
    		<br>[功能增加|彩蛋]增加2017注册入口
    		<br>[功能完善]歌曲信息修改页面增加原信息
    		<br>[功能完善]歌曲来源支持b站视频
    		<br>[功能完善]开启试用账号2333
    		</td>
    	</tr>
    	<tr>
    	    <td>20170815 2134</td>
    	    <td>[功能完善]切换至国内cdn
    	    <br>[BUG修正]更新页表格溢出
    	    </td>
    	</tr>
    	<tr>
    	    <td>20170816 0053</td>
    	    <td>[功能增加]加入状态、后台
    	    </td>
    	</tr>
    	<tr>
    	    <td>20170816 1831</td>
    	    <td>[BUG修正]后台代码重写，设计修正
    	    </td>
    	</tr>
    	<tr>
    	    <td>20170818 2017</td>
    	    <td>[功能增加]增加对同一用户上传及歌曲分类的歌曲数量限制
    	    <br>[功能增加]支持周数
    	    <br>[功能完善]首页增加删档测试提醒
    	    </td>
    	</tr>
    	<tr>
    	    <td>20170818 2146</td>
    	    <td>[功能完善]历史数据可链接到数据源
    	    <br>[功能完善]后台页面美化
    	    <br>[BUG修正]解决了可通过更改语种/分类绕过限制的BUG
    	    <br>[功能完善]投票页投票表单可随页面移动
    	    <br>[BUG修正]修正了信息框关不掉的BUG
    	    </td>
    	</tr>
    	<tr>
    	    <td>20170819 2256</td>
    	    <td>[功能完善]支持从后台清空歌曲库和投票库
    	    </td>
    	</tr>
    	<tr>
    	    <td>20170819 2359</td>
    	    <td>[功能完善]支持从后台重设用户密码
    	    </td>
    	</tr>
    	<tr>
    	    <td>20170820 2044</td>
    	    <td>[功能完善]去除首页内测信息，准备迁移及正式发布
    	    <br>[功能完善]首页添加当前歌曲库状态查询
    	    <br>[功能完善]注册页全面启用听说考试登录方式
    	    <br>[功能完善]编写了使用说明
    	    </td>
    	</tr>
    </tbody>
    </table>

{% endblock %}
