{% extends "layout.html" %}

{% block title %}
    数据
{% endblock %}

{% block main %}
    <div>
        <p>当前用户总数：{{ user_count }}</p>
        <p>当前已投票用户数：{{ vote_count }}</p>
        <p>投票率：{{ voteper }}</p>
    </div>
    <h2>当前投票数据</h2><p>仅显示最高票5条</p>
    <div>
        <table class="table table-hover">
            <caption>AM1 - 早上起床</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in am1 %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-hover">
            <caption>AM2 - 早上赶人</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in am2 %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-hover">
            <caption>NOON1 - 中午睡前</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in noon1 %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-hover">
            <caption>NOON2 - 中午起床</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in noon2 %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-hover">
            <caption>NOON3 - 中午赶人</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in noon3 %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-hover">
            <caption>PM1 - 下午放学后</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in pm1 %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-hover">
            <caption>PM2 - 下午赶人</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in pm2 %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-hover">
            <caption>N - 晚上睡前</caption>
            <thead>
                <th>语种/分类</th>
                <th>歌曲id</th>
                <th>歌曲名 - 翻译名 - 备注</th>
                <th>得票数</th>
                <th>试听</th>
            </thead>
            <tbody>
                {% for song in n %}
                    <tr>
                        <td>{{ song["lang"] }}</td>
                        <td>{{ song["id"] }}</td>
                        <td>{{ song["name"] }} - {{ song["trname"] }} - {{ song["note"] }}</td>
                        <td>{{ song["c"] }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ song["urlback"] }}" target="_blank">试听</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div>
        <a class="btn btn-default" href="{{ url_for('historydata') }}" target="_blank">历史数据下载</a>
    </div>
    
{% endblock %}
