{% extends "layout.html" %}

{% block title %}
    后台
{% endblock %}

{% block main %}
    <form action="{{ url_for('houtai') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" autofocus name="pass" placeholder="后台密码" type="password"/>
            </div>
            <div class="form-group" style ="display:none;">
                <input autocomplete="off" class="form-control" name="stage" value="idcheck" type="text" required/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">进入后台</button>
            </div>
        </fieldset>
    </form>
{% endblock %}